{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="cart" class="container">
    <div class="cart-content">
      <h1 class="cart-title">Cart</h1>
      <div id="cart-items" class="items">
        <div class="cart-header ">
          <h1 class="cart-header-title">item</h1>
          <h1 class="cart-header-title">quantity</h1>
        </div>
        {% for item in items %}
          <div id="cart-item" class="item">
            <div class="item-detail">
              <img src="{{item.photocard.imageURL}}" alt="" class="photocard-image-cart" />
              <div class="cart-text-details">
                <h1 class="pc-name">{{item.photocard.name}}</h1>
                <p class="pc-theme">{{item.photocard.theme}}</p>
                <p class="pc-quantity">{{item.quantity}}<span>x</span></p>
              </div>
              <p class="pc-price">
                <i class="fa-solid fa-peso-sign"></i> 
                <span class="pc-actual-price">{{item.get_total}}</span>
              </p>
            </div>
            <div class="quantity">
              <button data-photocard="{{item.photocard.id}}" data-action="minus" class="update-cart cart-quantity-btn">
                <i class="fa-solid fa-minus"></i>
              </button>
              <p class="quantity-display">{{item.quantity}}</p>
              <button data-photocard="{{item.photocard.id}}" data-action="add" class="update-cart cart-quantity-btn">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <button data-photocard="{{item.photocard.id}}" data-action="remove" class="update-cart remove-to-cart-btn">remove</button>
          </div>
        {% endfor %}
        <div class="cart-details">
          <div class="total-photocards">
            <p class="total-photocards-title">photocards:</p>
            <p class="get-items-total">{{order.get_items_total}}<span>x</span></span>
          </div>
          <div class="total-money">
            <p class="total-money-title">total:</p>
            <p class="total-price">
              <i class="fa-solid fa-peso-sign"></i>
              <span class="get-cart-total">{{order.get_cart_total}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="btn-bottom-holder">
        <a href="/shop" class="back-to-shop-btn">
          <i class="fa-solid fa-arrow-left"></i> back to shop
        </a>
        <a href="/cart/checkout" class="checkout-btn ">checkout</a>
      </div>
    </div>
  </section>

  <!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
