{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="about" class="container">
    <div class="about-topic">
      <img src="../../../../static/assets/images/realpop-socprev.png" alt="Realpop Social Preview" class="image-socprev" />
      <div class="text-bg">
        <div class="text-holder">
          <h1 class="about-title">About Realpop</h1>
          <hr />
          <p class="about-desc">Realpop loves K-Pop just as much as you do! Listening to your favorite K-Pop artists brings us a lot of happiness in our life, but it's a little expensive to support them, isn&apos;t it? Realpop hopes our buyers will be happy with the prices of our girl group photocards from the current girl groups available. These girl groups include the TWICE,  NMIXX, NewJeans, aespa and LESSERAFIM.</p>
          <br>
          <p class="about-desc">
            <span class="note">NOTE</span>
            : Realpop is an open-source <span class="sew">simulation-ecommerce website</span> developed by <a href="https://github.com/MoonbamiOfficial" class="about-link" target="_blank">Moonbami</a> that uses <a href="https://www.djangoproject.com/" class="django" target="_blank">Django</a> as its main technology. This is still under development of the features that an ecommerce must have. Due to the developer having strict schedules, features may took time to be implemented. If you have by any chance have time and want to help to develop this project as a hobby, please contact the developer <a href="/contact" class="about-link">here.</a>
          </p>
          <br />
          You can view the GitHub repository <a href="https://github.com/MoonbamiOfficial/realpop-web.git" target="_blank" class="about-link">Here</a>. <br>
          <span class="about-thanks">Thank you for your deeply understanding. — <span class="about-moonbami">Moonbami</span></span>
        </div>
      </div>
    </div>
    <div class="about-topic">
      <div class="about-names-holder">
        <img src="../../../../static/assets/images/founder-ceo.png" alt="Realpop Team" class="image-socprev" />
        <div class="about-names">
          <h1>Chris</h1>
          <h1>Moonbami</h1>
        </div>
      </div>
      <div class="text-bg">
        <div class="text-holder">
          <h1 class="about-title">About Us</h1>
          <hr />
          <p class="about-desc">My friend (Chris) and I really love K-Pop especially one of the most popular girl group called TWICE. One day, my instructor decided that my section have to create  project about creating a website. I immediately think about developing my own ecommerce website. That&apos;s why I talked to my friend and asked him to be my client for the website that I want to develop. Together, we created the Realpop for the K-Pop fans around the world as our benificiaries.</p>
        </div>
      </div>
    </div>
    <div class="credits">
      <img src="../../../../static/assets/images/realpop-socprev.png" alt="Realpop Team" class="image-socprev" />
      <div class="text-bg">
        <div class="text-holder">
          <h1 class="about-title">Credits</h1>
          <hr />
          <div class="credits-holder">
            <h2 class="videos-about">Videos:</h2>
            <p class=""><span class="about-dot">●</span> JYP Entertainment. (2021, Jun 9). TWICE "Alcohol-Free" M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/XA2YEHn-A8Q?si=NjgKGzcEvwKsWjkT" class="credits-link" target="_blank">https://youtu.be/XA2YEHn-A8Q?si=NjgKGzcEvwKsWjkT</a>
            </p>
            <p class=""><span class="about-dot">●</span> JYP Entertainment. (2023, Jul 11). NMIXX "Party O&apos;Clock" M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/Rd2wppggYxo?si=V2UK5-bSfOQd5l3H" class="credits-link" target="_blank">https://youtu.be/Rd2wppggYxo?si=V2UK5-bSfOQd5l3H</a>
            </p>
            <p class=""><span class="about-dot">●</span> HYBE LABELS. (2023, Jul 7). NewJeans (뉴진스) 'Super Shy' Official MV [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/ArmDp-zijuc?si=7OfACNATmgY_RPhG" class="credits-link" target="_blank">https://youtu.be/ArmDp-zijuc?si=7OfACNATmgY_RPhG</a>
            </p>
            <p class=""><span class="about-dot">●</span> SMhrefWN. (2023, May 8). aespa 에스파 'Spicy' MV [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/Os_heh8vPfs?si=ynCR3jGJ1tc9KB0R" class="credits-link" target="_blank">https://youtu.be/Os_heh8vPfs?si=ynCR3jGJ1tc9KB0R</a>
            </p>
            <p class=""><span class="about-dot">●</span> HYBE LABELS. (2023, May 1). LE SSERAFIM (르세라핌) 'UNFORGIVEN (feat. Nile Rodgers)' OFFICIAL M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/UBURTj20HXI?si=SjrgL7wcMiV6BMfb" class="credits-link" target="_blank">https://youtu.be/UBURTj20HXI?si=SjrgL7wcMiV6BMfb</a>
            </p>
            <p class=""><span class="about-dot">●</span> JYP Entertainment. (2017, Dec 11). TWICE "Heart Shaker" M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/rRzxEiBLQCA?si=t0yNbbjAWo_tW_Uu" class="credits-link" target="_blank">https://youtu.be/rRzxEiBLQCA?si=t0yNbbjAWo_tW_Uu</a>
            </p>
            <p class=""><span class="about-dot">●</span> JYP Entertainment. (2022, Sep 19). NMIXX "DICE" M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/p1bjnyDqI9k?si=JXIxHw838_H5URhz" class="credits-link" target="_blank">https://youtu.be/p1bjnyDqI9k?si=JXIxHw838_H5URhz</a>
            </p>
            <p class=""><span class="about-dot">●</span> HYBE LABELS. (2023, Jan 3). NewJeans (뉴진스) 'OMG' Official MV (Performance ver.1) [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/sVTy_wmn5SU?si=sYhANjSzGV6IhslZ" class="credits-link" target="_blank">https://youtu.be/sVTy_wmn5SU?si=sYhANjSzGV6IhslZ</a>
            </p>
            <p class=""><span class="about-dot">●</span> HYBE LABELS. (2022, Oct 16). LE SSERAFIM (르세라핌) 'ANTIFRAGILE' OFFICIAL M/V [Video]. YouTube.&nbsp;
              <a href="https://youtu.be/pyf8cbqyfPs?si=uB4a4usdZLPq3bPP" class="credits-link" target="_blank">https://youtu.be/pyf8cbqyfPs?si=uB4a4usdZLPq3bPP</a>
            </p>
            <hr />
            <h2>Assets:</h2>
            <p class=""><span class="about-dot">●</span><a href="https://www.flaticon.com/free-icons/hand-heart" class="credits-link" target="_blank">Hand-heart icons</a> created by kerismaker - Flaticon&nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
