{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="login" class="container">
    <section class="signup-bg">
    <h1 class="login-title">Login</h1>
    {% for message in messages %}
      <p class="welcome-message">{{message}}</p>
    {% endfor %}
      <form method="POST" class="login-form">
        {% csrf_token %}
          <label for="username" class="login-label">
            <p class="login-p">username</p>
            <input id="username" type="username" name="username" placeholder="username" required autoComplete='true' class="login-input" />
          </label>
          <label for="password" class="login-label">
            <p class="login-p">password</p>
            <input id="password" type="password" name="password" placeholder="password" required autoComplete='true' class="login-input" />
          </label>
        <button id="login-btn" type="submit" class="login-btn">login</button>
      </form>
    <p class="signup-option capitalize font-medium">don&apos;t have an account? <a href="{% url 'signup' %}" class="signup-link">sign-up!</a></p>
    </section>
  </section>

  <!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
