{% extends 'index.html' %}
{% load static tailwind_tags %}
{% block content %}
{% tailwind_css %}
  <section id="login" class="relative container mx-auto mt-[60px] py-[100px] h-full flex flex-col items-center ">
    <section class="relative flex flex-col items-center gap-y-[30px] text-sm p-10 border border-opaque-white bg-transparent backdrop-blur-xl shadow-lg rounded-xl transition-all">
    <h1 class="capitalize text-4xl font-semibold">Login</h1>
    {% for message in messages %}
      <p class="capitalize text-xl font-medium">{{message}}</p>
    {% endfor %}
    <div class="login-section">
      <form method="POST" class="flex flex-col gap-4 ">
        {% csrf_token %}
        <label for="username" class="capitalize cursor-pointer ">
          <p class="capitalize">username</p>
          <input id="username" type="username" name="username" placeholder="username" required autoComplete='true' class="relative focus:outline-electric-pink border-none text-black w-[250px] h-[40px] outline-none rounded-lg text-xs placeholder:text-xs placeholder:capitalize px-4 py-2 xl:w-[300px]" />
        </label>
        <label for="password" class="capitalize cursor-pointer ">
          <p class="capitalize">password</p>
          <input id="password" type="password" name="password" placeholder="password" required autoComplete='true' class="relative focus:outline-electric-pink border-none text-black w-[250px] h-[40px] outline-none rounded-lg text-xs placeholder:text-xs placeholder:capitalize px-4 py-2 xl:w-[300px]" />
        </label>
        <div class="forgot flex justify-end ">
          <a href="/" class="hover:underline " >Forgot Password?</a>
        </div>
        <button id="login-btn" type="submit" class="w-[250px] h-[40px] bg-electric-pink rounded-lg text-base capitalize xl:w-[300px] ">login</button>
      </form>
    </div>
    <!-- <div class="login-with flex flex-col items-center gap-y-[10px]">
      <div id="or" class="flex items-center select-none ">
        <hr class="w-[100px] xl:w-[140px]"/>
        <p class="p-2 uppercase bg-opaque-white rounded-xl text-xs">or</p>
        <hr class="w-[100px] xl:w-[140px]"/>
      </div>
    </div> -->
    <p class="capitalize font-medium">don&apos;t have an account? <a href="{% url 'signup' %}" class="text-electric-pink hover:underline font-semibold">sign-up!</a></p>
    </section>
  </section>

  <!-- FOOTER -->

  <footer class="container border-t-[8px] border-electric-pink bg-opaque-black z-[70] relative bottom-0 w-full px-[15px] sm:px-[25px] md:px-[50px] lg:px-[75px] xl:px-[100px] 2xl:px-[150px] premium:px-[200px]">
    <div class="footer-full-content relative py-[50px] flex flex-col items-center gap-y-[80px]">
      <h1 class="brand flex items-center gap-x-[8px] text-[2rem] font-[700] capitalize sm:text-[2.5rem] sm:gap-x-[12px] lg:text-[3rem] xl:text-[3.5rem] premium:text-[4rem]">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="w-[60px] h-[60px] select-none sm:w-[70px] sm:h-[70px] lg:w-[80px] lg:h-[80px] xl:w-[90px] xl:h-[90px]" />
        Realpop
      </h1>
      <div class="content flex justify-between w-full">
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="text-[1.25rem] font-[700] capitalize sm:text-[1.5rem] lg:text-[1.8rem]">Navigate</h2>
          <div class="links flex flex-col gap-y-[8px]">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="follow-us flex flex-col gap-y-[16px]">
          <h2 class="text-[1.25rem] font-[700] capitalize sm:text-[1.5rem] lg:text-[1.8rem]">Follow Us</h2>
          <div class="socmeds ">
            <div class="chris-section flex flex-col gap-y-[8px] pb-2">
              <p class="cursor-pointer font-semibold">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="jam-section flex flex-col gap-y-[8px] pb-2">
              <p class="cursor-pointer font-semibold">Moonbami</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed flex items-center gap-x-[8px]">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="text-[1.25rem] font-[700] capitalize sm:text-[1.5rem] lg:text-[1.8rem]">Photocards</h2>
          <div class="links flex flex-col gap-y-[8px] list-none">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright w-full text-center">
        <hr class=""/>
        <p class=" my-4 uppercase">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
