{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <script type="text/javascript">
      const user = '{{request.user}}';

      function getToken(name) {
        let cookieValue = null;
        if(document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if(cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      let csrftoken = getToken('csrftoken');

      function getCookie(name) {
        let cookieArray = document.cookie.split(";")

        for (let i = 0; i < cookieArray.length; i++) {
          let cookiePair = cookieArray[i].split("=")

          if(name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1])
          }
        }
        return null
      }
      let cart = JSON.parse(getCookie('name'))
      if (cart == undefined) {
        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <title>Realpop</title>
  </head>
  <body>
    <div class="top-0 fixed z-[100] h-[60px] w-full bg-black " ></div>
    <header class="container fixed left-[50%] translate-x-[-50%] top-0 z-[100] h-[60px] w-full flex justify-between items-center px-16 transition-all" >
      <div class="flex items-center gap-2">
        <a id="brand" href="/" class=" flex items-center gap-2 ">
          <img src="{% static 'assets/images/realpop-logo.png' %}" alt="Realpop Logo" class="w-[40px] h-[40px] block"/>
          <h1 href="/" class="text-[1.75rem] font-[700] capitalize block">Realpop</h1>
        </a>
        <div id="links" class="">
          <div class="main-nav-container flex gap-x-1">
            <a href="/" class="main-nav ">Home</a>
            <a href="/about" class="main-nav ">About</a>
            <a href="/shop" class="main-nav ">Shop</a>
            <a href="/contact" class="main-nav ">Contact</a>
            <a href="/help" class="main-nav ">Help</a>
          </div>
        </div>
      </div>
      <div id="right" class=" flex justify-end items-center gap-5">
        <p class="capitalize">hello, <span class="font-semibold text-electric-pink">{{request.user}}</span></p>
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="logout capitalize text-sm rounded-lg border border-electric-pink hover:bg-electric-pink px-4 py-2">
            log out
          </a>
        {% else %}
          <a href="{% url 'login' %}" class="logout capitalize text-sm rounded-lg border border-electric-pink hover:bg-electric-pink px-4 py-2">
            login
          </a>
        {% endif %}
        <a href="/cart" class="cart relative w-[40px] h-[40px] items-center justify-center rounded-full hover:bg-electric-pink transition-all text-xl flex">
          <i class="fa-solid fa-cart-shopping"></i>
          <div class="cart-num absolute top-[-4px] right-[-4px] rounded-full p-1 bg-electric-pink text-xs text-center">{{cartitems}}</div>
        </a>
        </div>
      </div>
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <script src="https://kit.fontawesome.com/20c821653c.js" crossorigin="anonymous"></script>

    <script src="{% static '/js/date.js' %}"></script>
    <script src="{% static '/js/cart.js' %}"></script>
  </body>
</html>