{% extends 'index.html' %}
{% load static %}
{% block content %}
  <video src="../.././../static/assets/videos/realpop_bg.mp4" loop muted autoPlay class="realpop-bg-vid"></video>
  <div class="gradient"></div>
  <section id="home" class="container">
    <div class="home-content">
      <div class="home-text">
        <h1 class="home-title">Realpop</h1>
        <p class="home-desc">Start collecting your favorite photocards from our currently available girl groups; TWICE, NMIXX, NewJeans, aespa & LE SSERAFIM</p>
      </div>
    <a href="/shop" id="shop-now-btn" class="">Shop Now</a>
  </div>
{% endblock content %}
