{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="checkout" class="container">
    <div class="checkout-content">
      <a href="/cart" class="back-to-cart-btn">
        <i class="fa-solid fa-arrow-left"></i> back to cart
      </a>
      <div class="order-summary-holder">

        <!-- ORDER SUMMARY SECTION -->

        <div class="order-summary">
          <h1 class="order-summary-title-holder">
            <hr>
            <p class="order-summary-title">order summary</p>
            <hr>
          </h1>
          <div class="checkout-items">
            {% for item in items %}
              <div class="checkout-item">
                <div class="item-detail">
                  <img src="{{item.photocard.imageURL}}" alt="photocard" width="1000" height="1000" class="photocard-image-checkout" />
                  <div class="checkout-text-details">
                    <h1 class="pc-name">{{item.photocard.name}}</h1>
                    <p class="pc-theme">{{item.photocard.theme}}</p>
                    <p class="pc-quantity">{{item.quantity}}<span>x</span></p>
                  </div>
                  <p class="pc-price">
                    <i class="fa-solid fa-peso-sign"></i> 
                    <span class="pc-actual-price">{{item.get_total}}</span>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="cart-details">
            <div class="total-photocards">
              <p class="total-photocards-title">photocards:</p>
              <p class="get-items-total">{{order.get_items_total}}<span>x</span></span>
            </div>
            <div class="total-money">
              <p class="total-money-title">total:</p>
              <p class="total-price">
                <i class="fa-solid fa-peso-sign"></i>
                <span class="get-cart-total">{{order.get_cart_total}}</span>
              </p>
            </div>
          </div>
        </div>

        <!-- USER SECTION -->

        <div class="user ">
          <div id="shipping-info">
            <h1 class="order-shipping-title-holder">
              <hr>
              <p class="order-shipping-title">shipping information</p>
              <hr>
            </h1>
            <form action="" id="user-form">
              {% csrf_token %}
              <div id="user-info">
                <label for="name">
                  Name
                  <input type="username" name="name" id="name" placeholder="Name" required class="checkout-inputs">
                </label>
                <label for="email">
                  Email
                  <input type="email" name="email" id="email" placeholder="Email" required class="checkout-inputs">
                </label>
              </div>
              
              <div class="shipping-info-checkout">
                <label for="address">
                  Address
                  <input type="address" name="address" id="address" placeholder="Address" required class="checkout-inputs">
                </label>
                <label for="city">
                  City
                  <input type="city" name="city" id="city" placeholder="City" required class="checkout-inputs">
                </label>
                <label for="zip-code">
                  Zip Code
                  <input type="zip-code" name="zip-code" id="zip-code" placeholder="Zip Code" required class="checkout-inputs">
                </label>
              </div>
              <div id="continue-btn-div">
                <input type="submit" value="Continue" class="continue-btn">
              </div>
            </form>
          </div>
          <div id="payment-info" class="payment-info ">
            <h1 class="order-payment-title-holder">
              <hr>
              <p class="order-payment-title">payment information</p>
              <hr>
            </h1>
            <div class="payment-methods">
              <button type="radio" name="payment-method" aria-required="true" class="gcash">
                <img src="{% static 'assets/images/gcash.png' %}" alt="" class="gcash-logo">
              </button>
              <button type="radio" class="paypal">
                <div class="paypal-text">
                  <i class="fa-brands fa-cc-paypal"></i>
                </div>
              </button>
              <button type="radio" name="payment-method" aria-required="true" class="cod">
                <h1 class="cod-title">cash on delivery</h1>
                <div class="cod-logo">
                  <i class="fa-solid fa-truck-fast"></i>
                </div>
              </button>
              <div id="order" name="payment-method" aria-required="true" class="p-8 pr-10 ml-auto ">
                <input type="submit" value="order" class="order-input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    const form = document.querySelector('#user-form')
    csrftoken = form.getElementsByTagName('input')[0].value
    const total = '{{order.get_cart_total}}'

    if(user != 'AnonymousUser') document.querySelector('#user-info').textContent = ''

    const submitData = () => {
      const userData = {
        'name': null,
        'email': null,
        'total': total,
      }
      const shippingData = {
        'address': null,
        'city': null,
        'zip-code': null,
      }

      if(user == 'AnonymousUser') {
        userData.name = form.name.value
        userData.email = form.email.value
      }

      const url = '/process_order'
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          'user': userData,
          'shipping': shippingData,
        })
      })
      .then((response) => response.json())
      .then((data) => {
        alert('Order Successful!')
        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        window.location.href = "{% url 'shop' %}"
      })
    }

    document.querySelector('#order').addEventListener('click', (event) => {
      submitData()
    })

    form.addEventListener('submit', (event) => {
      event.preventDefault()
      document.querySelector('#continue-btn-div').classList.add('payment-info')
      document.querySelector('#payment-info').classList.remove('payment-info')
    })
  </script>

  <!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
