{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="contact" class="container">
    <div class="message-contact">
      <h1 class="title-contact">How can we help you?</h1>
      <div class="contact-box">
        <div class="input-contact-section">
          <label class="" htmlFor="first-name" >First Name</label>
          <input id="first-name" class="input-contact-text" type="text" autoCapitalize="true" autoComplete="true" placeholder="First Name" />
          <hr />
        </div>
        <div class="input-contact-section">
          <label class="" htmlFor="last-name" >Last Name</label>
          <input id="last-name" class="input-contact-text" type="text" autoCapitalize="true" autoComplete="true" placeholder="Last Name" />
          <hr />
        </div>
        <div class="input-contact-section">
          <label class="" htmlFor="last-name" >Email</label>
          <input id="email" class="input-contact-text" type="text" autoComplete="true" placeholder="Email" />
          <hr />
        </div>
        <div class="input-contact-section">
          <label class="" htmlFor="last-name" >Your Message</label>
          <textarea id="message" class="input-contact-text name="message" cols={30} rows={10} autoComplete="true" placeholder="Aa"></textarea>
          <hr />
        </div>
      </div>
      <button class="send-message-btn">Send</button>
    </div>
    <div class="realpop-team">
      <h1 class="title-contact">Realpop Team</h1>
      <div class="team-box">
        <div class="chris-section flex flex-col gap-y-[8px] pb-2">
          <p class="rp-role">Realpop owner:</p>
          <hr />
          <div class="us-section">
            <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
              <div class=""><i class="fa-brands fa-facebook"></i></div>
              <p>chrsdrl</p>
            </a>
            <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
              <div class=""><i class="fa-brands fa-instagram"></i></div>
              <p>lakezeus_</p>
            </a>
            <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
              <div class=""><i class="fa-brands fa-github"></i></div>
              <p>zyozyoo</p>
            </a>
          </div>
        </div>
        <div class="jam-section flex flex-col gap-y-[8px] pb-2">
          <p class="rp-role">Realpop developer:</p>
          <hr />
          <div class="us-section">
            <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
              <i class="fa-brands fa-facebook"></i>
              <p>MoonbamiOffcl</p>
            </a>
            <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
              <i class="fa-brands fa-instagram"></i>
              <p>moonbamidesu</p>
            </a>
            <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
              <i class="fa-brands fa-github"></i>
              <p>MoonbamiOfficial</p>
            </a>
          </div>
        </div>

        <div class="github-repo col-span-2">
          <div class="repo flex items-center gap-x-[16px] text-[1.5rem]">
            <div class="contact-logo">
              <i class="fa-brands fa-github"></i>
            </div>
            <h1 class="contact-logo-title">Repository</h1>
          </div>
          <a href="https://github.com/MoonbamiOfficial/realpop-web.git" target="_blank" class="contact-link">https://github.com/MoonbamiOfficial/realpop-web.git</a>
        </div>

        <div class="location col-span-2">
          <div class="address flex items-center gap-x-[16px] text-[1.5rem]">
            <div class="contact-logo">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <h1 class="contact-logo-title">Address</h1>
          </div>
          <p class="address">blk 2, lot 18, east 1, canary st. springville camella homes, molino iii, bacoor city, cavite
          molino iii, bacoor, cavite, south luzon, 4102</p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
