{% extends 'index.html' %}
{% load static %}
{% block content %}
  <section id="signup" class="container">
    <section class="signup-bg">
      <h1 class="signup-title">Sign-Up</h1>
      <form method="POST" class="signup-form">
        {% csrf_token %}
          <label for="" class="signup-label">
            <p class="signup-p">username</p>
            {{form.username}}
          </label>
          <label for="" class="signup-label">
            <p class="signup-p">email</p>
            {{form.email}}
          </label>
          <label for="" class="signup-label">
            <p class="signup-p">password</p>
            {{form.password1}}
          </label>
          <label for="" class="signup-label">
            <p class="signup-p">confirm password</p>
            {{form.password2}}
          </label>
        <button id="login-btn" type="submit" class="signup-btn">sign-up</button>
      </form>
      {{form.errors}}
      <p class="login-option">already have an account? <a href="{% url 'login' %}" class="login-link">login!</a></p>
    </section>
  </section>

  <script>
    let form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username'
    form_fields[1].required
    form_fields[1].classList = "signup-input"
    form_fields[2].placeholder = 'Email'
    form_fields[2].required
    form_fields[2].classList = "signup-input"
    form_fields[3].placeholder = 'Password'
    form_fields[3].required
    form_fields[3].classList = "signup-input"
    form_fields[4].placeholder = 'Confirm Password'
    form_fields[4].required
    form_fields[4].classList = "signup-input"
  </script>
  <!-- FOOTER -->

  <footer class="container">
    <div class="footer-full-content">
      <h1 class="footer-brand">
        <img src="../../../static/assets/images/realpop-logo.png" alt="Realpop Logo" class="footer-logo" />
        Realpop
      </h1>
      <div class="footer-content">
        <div class="navigate">
          <h2 class="navigate-title">Navigate</h2>
          <div class="as">
            <a href="/" class="footer-nav" >Home</a>
            <a href="/about" class="footer-nav" >About</a>
            <a href="/shop" class="footer-nav" >Shop</a>
            <a href="/contact" class="footer-nav" >Contact</a>
            <a href="/help" class="footer-nav" >Help</a>
          </div>
        </div>
        <div class="navigate">
          <h2 class="navigate-title">Follow Us</h2>
          <div class="socmeds ">
            <div class="us-section">
              <p class="owner-dev">Chris</p>
              <hr />
              <a href="https://www.facebook.com/chrsdrl" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-facebook"></i></div>
                <p>chrsdrl</p>
              </a>
              <a href="https://www.instagram.com/lakezeus_/" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-instagram"></i></div>
                <p>lakezeus_</p>
              </a>
              <a href="https://github.com/zyozyoo" target="_blank" class="socmed">
                <div class=""><i class="fa-brands fa-github"></i></div>
                <p>zyozyoo</p>
              </a>
            </div>
            <div class="us-section">
              <p class="owner-dev">Jam</p>
              <hr />
              <a href="https://www.facebook.com/MoonbamiOffcl" target="_blank" class="socmed">
                <i class="fa-brands fa-facebook"></i>
                <p>MoonbamiOffcl</p>
              </a>
              <a href="https://www.instagram.com/moonbamidesu/" target="_blank" class="socmed">
                <i class="fa-brands fa-instagram"></i>
                <p>moonbamidesu</p>
              </a>
              <a href="https://github.com/MoonbamiOfficial" target="_blank" class="socmed">
                <i class="fa-brands fa-github"></i>
                <p>MoonbamiOfficial</p>
              </a>
            </div>
          </div>
        </div>
        <div class="navigate flex flex-col gap-y-[16px]">
          <h2 class="navigate-title">Photocards</h2>
          <div class="as">
            <li>TWICE</li>
            <li>NMIXX</li>
            <li>NewJeans</li>
            <li>aespa</li>
            <li>LE SSERAFIM</li>
          </div>
        </div>
      </div>
      <div class="copyright">
        <hr class=""/>
        <p class="footer-end">&copy; <span class="footer-date"></span> Realpop from moonbami & jively</p>
      </div>
    </div>
  </footer>
{% endblock content %}
