@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */
:root {
  /* rgb */
  --electric-pink: 251, 37, 118;
  --deep-violet: 63, 0, 113;
  --cetacean-blue: 21, 0, 80;
  --black: 0, 0, 0;
  --white: 255, 255, 255;

  /* hex */
  --hex-electric-pink: #FB2576;
}

/* DEFAULTS */
*,
::before,
::after {
  @apply box-border p-0 m-0 text-white transition-all
}
body {
  @apply bg-cetacean-blue font-[Poppins] text-white 
}

/* UTILITIES */
/* .container {
  @apply border-2 border-electric-pink
} */

